@font-face {
  font-family: Roboto;
  src: url(media/RobotoMono-VariableFont_wght.ttf);
}

body {
  background-color: rgba(20,20,20,256);
  display: flex;
  flex-wrap: wrap;
}

#profile {
  flex: 0 0 300px;
  width: 300px;
  height: 300px;
  position: relative;
  margin-left: calc(50vw - 300px);
  margin-top: calc(50vh - 150px);
}

#profile img {
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 300px;
  height: 300px;
  pointer-events: none;
}

#profile .glow {
  --start: 0;
  position: relative;
  width: 300px;
  height: 300px;
  filter: blur(14px);
}

#profile .glow::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  border: 5px solid transparent;
  background: white;
  background-attachment: fixed;
  mask: linear-gradient(#0000, #0000),
    conic-gradient(
      from calc((var(--start) - (20 * 1.1)) * 1deg),
      #ffffff1f 0deg,
      white,
      #ffffff00 100deg
    );
  mask-composite: intersect;
  mask-clip: padding-box, border-box;
  opacity: 0;
  transition: 0.5s ease;
}

#profile .glow:hover::before {
  opacity: 0.6;
}

#selector {
  margin-top: calc(50vh - 150px);
  height: 300px;
  margin-left: 10px;
  color: white;
  font-family: Roboto;
  font-size: 40px;
  display: inline;
}

#content-container {
  flex: 1 1 300px;
  display: block;
  margin-left: 20px;
}

#selector .section {
  position: absolute;
  transition: opacity 0.5s ease, transform 0.5s ease, text-shadow 1s ease, top 0.5s ease, letter-spacing 0.5s ease;
  pointer-events: visible;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

#selector .section:hover {
  cursor: pointer;
  letter-spacing: 10px;
  text-shadow: 0px 0px 40px white;
}

/* fade-out state */
.section.fade {
  opacity: 0;
  transform: translateX(40px);
  pointer-events: none !important;
}

/* infocus state */
.section.infocus {
  opacity: 1;
  top: calc(50vh - 150px - 40px) !important;
}

#page-container {
  display: flex;
  margin-top: calc(50vh - 215px);
  margin-left: 50px;
  width: 300px;
}

.page {
  position: absolute;  
  opacity: 0;
  width: 400px;
  transition: opacity 1s ease, transform 1s ease;
  color: white;
  font-family: Roboto;
  font-size: 20px;
  overflow: hidden;
  pointer-events: none;
}

.page.active {
  width: 40vw;
  max-width: 600px;
  opacity: 0.8 !important;
  transform: translateX(-50px);
}

@media (max-width: 780px) {
  body {
    flex-direction: column; /* force stacking */
    align-items: center;
    overflow-x: hidden;
  }

  #profile {
    margin-top: calc(50vh - 350px);
    margin-left: 0;
    margin-right: 0;
  }

  #selector {
    width: 100%;
    text-align: center;
  }

  #selector .section {
    margin-top: 170px;
  }

  #content-container {
    margin-top: 10px;
  }

  #page-container {
    margin-top: 10px;
  }

  #page-container .page {
    width: 80vw;
    max-width: 400px;
  }
}
